.main-content{
    margin-left: 345px;
    font-size: 1.9rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    /* position: fixed; */
    left: 345px;
    width: calc(100% -345px);
    top: 0;
    z-index: 100;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 2.9rem;
    padding-right: 1rem;
}

.Account{
    /* border: 1px solid #ccc; */
    color: black;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.Account span{
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 2.3rem;
}

main {
    margin-top: 30px;
    padding: 2rem 1.5rem;
    background: #fff;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: rgb(228, 223, 223);
    padding: 2rem;
    border-radius: 1px;
}

.card-single div:first-child {
    color: #222;
}

.card-single div:last-child span {
    font-size: 2rem;
    color: var(--main-color);
}