.container{
    margin-left: 345px;
    font-size: 1.9rem;
    margin-top: 80px;
}

/* .card{
    transition: all 0.5s ease ;
    padding: 1rem 0rem 1rem 2rem;
  }
  
  .card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  } */