/* .Productsform{
    margin-top: 100px;
} */
.main-content{
    margin-left: 345px;
    font-size: 1.9rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    /* position: fixed; */
    left: 345px;
    width: calc(100% -345px);
    top: 0;
    z-index: 100;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 2.9rem;
    padding-right: 1rem;
}

.Account{
    color: black;
    display: flex;
    align-items: center;
}

.Account span{
    padding: 1rem 1rem;
    font-size: 2.3rem;
}

.Productsform{
    margin-left: 145px;
    font-size: 1.9rem;
    margin-top: 80px;
}

.Productsform form{
    max-width: 50rem;
    border-radius: .5rem;
    background-color: var(--white);
    border: var(--border);
    padding: .5rem;
    text-align: center;
    margin: 0 auto;
}

.Productsform form h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #c88463;
    margin-bottom: 1rem;
}

.Productsform form .box{
    width: 100%;
    margin: 1rem 0;
    font-size: 1.8rem;
    color: black;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1.2rem 1.4rem;
    border: var(--border);
    border-style: solid;
}

.Productsform form TextArea {
    height: 15rem;
    resize: none;
}

.Productsform .container{
    display: grid;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    border-style: solid;
    padding: .5rem;
    height: 600px;
    width: 500px; 
    background-color: rgb(254, 251, 251);
}

Input::placeholder{
    color: black;
}

TextArea::placeholder{
    color: black;
}